
.slide-section {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 60px;
  width: 100%;

  .slide-toggle {
    margin: 10px;
    margin-right: 0;
  }

  .textSlide {
    font-size: 1.3em;
  }
}
