<div class="card bg-white mt-5 p-2">
  <app-avatar-profile [img]="imgProfile"></app-avatar-profile>
  <h2 class="title-form">
    Prueba técnica
  </h2>
  <div class="form form-signin">
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="submitForm()">

      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="" formControlName="name" required>
        <mat-error *ngIf="fieldNotValid('name')">{{ errorMsg('name') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nickname</mat-label>
        <input matInput placeholder="" formControlName="nickname" required>
        <mat-error *ngIf="fieldNotValid('nickname')">{{ errorMsg('nickname') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label><i class="icon-user"></i> Email</mat-label>
        <input matInput placeholder="" formControlName="email" required>
        <mat-error *ngIf="fieldNotValid('email')">{{ errorMsg('email') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label><i class="icon-lock"></i> Constraseña</mat-label>
        <input matInput formControlName="pwd" required [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label><i class="icon-lock"></i> Repetir Constraseña</mat-label>
        <input matInput formControlName="repeatpwd" required [type]="hideRepeat ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hideRepeat = !hideRepeat" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideRepeat">
          <mat-icon>{{hideRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <app-button [titleBtn]="btnText"></app-button>
    </form>
  </div>
</div>
<div class="link-signin">
  <a routerLink="/auth/login" routerLinkActive="active" class="secondary">
    Inicie Sesión
  </a>
</div>
